/* html的font-size是100px,
 所有 1rem就是100px .1rem就是10px */
 .wrap{margin-bottom: .9rem;}
/*适用于手机端：字体大小用rem，1rem=16px；为默认字体大小;最大宽度640*/
header{
    height: .84rem;
    background: #fff;
    width: 100%;
}
header a{
    width: 10%;
    height: 100%;
    line-height: .75rem;
    text-align: center;
}
header a img{
    height: 50%;
}

header .inp {
    height: .55rem;
    width: 80%;
    border-radius: .3rem;
    margin: .1rem 0;
    position: relative;
    background: #f4f4f4;
}

header .inp:after {
    position: absolute;
    top: .15rem;
    left: .1rem;
    content: '';
    background: url(../images/fadaj.png) no-repeat;
    background-size: 90%;
    height: .3rem;
    width: .3rem;
}

header .inp input {
    font-size: .23rem;
    height: .35rem;
    margin: .12rem .5rem;
    color: #000;
    width: 4.5rem;
    background: #f4f4f4;
}

::-webkit-input-placeholder {
    font-size: .23rem;
    color: #051B28;
}

header .msg{
    position: relative;
}
header .msg b{
    position: absolute;
    top: .15rem;
    right: .05rem;
    height: .16rem;
    width: .16rem;
    background: #000;
    color: #2DBB55;
    color: #000;
    font-size: .12rem;
    border-radius: 50%;
    line-height: .2rem;
    overflow: hidden;
}

/* // 详情 */
section.main{
    width: 100%;
    min-height: 1rem;
    overflow: hidden;
    border-top: 1px solid #e7e7e7;
    background: #fff;
}

/* // 详情左侧 */
.ml{
    width: 1.3rem;
    min-height: 1rem;
    overflow: hidden;
}

.ml li{
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #f4f4f4;
    border-left: 2px solid transparent;
}
.ml li.mlIndex{
    background: #fff;
    border-right-color: #fff;
    border-left-color: #2DBB55;
}
.ml li a{
    color: #4A4C5B;
    font-size: .27rem;
    display: block;
}

/* // 详情右侧 */
.mr{
    width: 4.9rem;
    min-height: 1rem;
    overflow: hidden;
}

.mr .title{
    height: .4rem;
    line-height: .4rem;
    width: 4.55rem;
    padding-left: .3rem;
    font-size: .22rem;
    color: #666;
    margin: .2rem 0;
    position: relative;
}
.mr .title:before{
    content: '';
    position: absolute;
    top: .1rem;
    left: .1rem;
    height: .2rem;
    width: 3px;
    background: #2DBB55;
}

/* // 当季热门景点 */
.jingdian,
.jingxuan,
.hot,
.hui{
    width: 100%;
    min-height: 1rem;
    overflow:hidden;
    background: #fff;
}

.jd_item{
    float: left;
    width: 2.24rem;
    margin-right: .2rem;
    margin-bottom: .2rem;
}
.jd_item a{
    display: block;
    width: 100%;
    height: 1.4rem;
    overflow: hidden;
}
.jd_item a img{
    width: 100%;
    height: 100%;
}
.jd_item p{
    height: .5rem;
    line-height: .5rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .24rem;
    color: #343434;
}

/* // 精选榜单 */
.jingxuan .jd_item{
    position: relative;
}
.jingxuan .jd_item img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.jingxuan .jd_item a{
    position: absolute;
    top: .5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: .22rem;
    text-align: center;
    width: 80%;
    height: .6rem;
    line-height: .3rem;
}
/* // 热门城市 */
.hot li{
    width: 1rem;
    height: .45rem;
    line-height: .45rem;
    text-align: center;
    background: #F0F4FB;
    font-size: .22rem;
    float: left;
    margin-right: .22rem;
    margin-top: .1rem;
}
.hot li:nth-child(4n){
    margin-right: 0;
}
.hot li a{
    color: #343434;
}
.hot li a.hotIndex{
    color: #2DBB55;
}
/* // 特惠线路 */
.hui li{
    width: 4.7rem;
    overflow: hidden;
    padding-bottom: .4rem;
}
.hui li .logo{
    display: block;
    height: 2.1rem;
    width: 100%;
    overflow: hidden;
}
.hui li .logo img{
    width: 100%;
    height: 100%;
}
.hui li h1{
    width: 100%;
    height: .7rem;
    line-height: .7rem;
    font-size: .3rem;
    color: #343434;
}
.hui li .num{
    background: #ee9900;
    font-size: .2rem;
    color: #fff;
    height: .3rem;
    line-height: .3rem;
    width: .5rem;
    text-align: center;
}
.hui li .road{
    font-size: .22rem;
    color: #999;
    width: 4rem;
    height: .3rem;
    line-height: .3rem;
    margin-left: .1rem;
}